@model CRUD_XML_MVC.Models.Billing
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
<script type="text/javascript" src="@Url.Content("~/Scripts/Billing/Billing.js")"></script>

<fieldset  ng-app="BillingApp" ng-controller="BillingCtrl">
    <legend>Billing</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.Customer)
    </div>
    <div class="editor-field">
        <input type="text" ng-model="ICustomer">
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.JobType)
    </div>
    <div class="editor-field">
        <select ng-model="IJobType" ng-options="Job.id as Job.name for Job in JobTypes">
            <option value="">--請選擇--</option>
        </select>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Date)
    </div>
    <div class="editor-field">
        <input type="text" ng-model="IDate" ID="Date">
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        <input type="text" ng-model="IDescription">
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Hours)
    </div>
    <div class="editor-field">
        <input type="number" ng-model="IHours">
    </div>
    <div>
        <button class="btn" ng-click="add()">Add</button>
    </div>
</fieldset>
