@model IEnumerable<CRUD_XML_MVC.Models.Billing>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Customer
        </th>
        <th>
            Type
        </th>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            Hours
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            @item.Customer
        </td>
        <td>
            @item.Type
        </td>
        <td>
            @String.Format("{0:MM/dd/yyyy}", item.Date)
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.Hours
        </td>
    </tr>
}

</table>

