@model IEnumerable<CRUD_XML_MVC.Models.Billing>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/Billing/BillingController.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Billing/BillingModel.js")"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/pagination.css")" rel="stylesheet">
<link href="@Url.Content("~/content/datepicker.css")" rel="Stylesheet" />
<h2>
    網咖顧客消費記錄</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-app="BillingApp" ng-controller="BillingCtrl" ng-switch="ShowMode" ng-init="InitData()">
    <div ng-switch-when="list">
        <fieldset>
            <legend>Searching</legend>
            <div class="editor-label">
                顧客姓名：</div>
            <div class="editor-field">
                <input type="text" ng-model="pagingInfo.searchName" />
            </div>
            <button class="btn" ng-click="GoSearching()">搜尋</button>
            <button class="btn" ng-click="pagingInfo.searchName = '' ; InitData();">清除</button>
        </fieldset>
        <table>
            <tr>               
                <th style="width:30%">
                    <a ng-click="SortChanged('Customer')" href="#">顧客姓名</a>
                </th>
                <th>
                    <a ng-click="SortChanged('JobType')" href="#">職業</a>
                </th>
                <th>
                    <a ng-click="SortChanged('Date')" href="#">消費日期</a>
                </th>
                <th>
                    <a ng-click="SortChanged('Hours')" href="#">消費小時數</a>
                </th>
                 <th>
                </th>
            </tr>
            <tr ng-repeat="Billing in Billings">                
                <td>
                    <span ng-bind="Billing.Customer"></span>
                </td>
                <td>
                    <span ng-bind="Billing.JobTypeText()"></span>
                </td>
                <td>
                    <span ng-bind="Billing.Date| date:'yyyy-MM-dd'"></span>
                </td>
                <td>
                    <span ng-bind="Billing.Hours"></span>
                </td>
                <td>
                    <a ng-click="showDetail(Billing,'edit')">編輯</a>| <a ng-click="showDetail(Billing,'details')">
                        明細</a>| <a ng-click="GoDel(Billing.ID)">刪除</a>
                </td>
            </tr>
        </table>
        <pagination boundary-links="true" total-items="pagingInfo.totalItems" ng-model="pagingInfo.Currentpage"
            class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
            last-text="&raquo;" items-per-page="pagingInfo.itemsPerPage" ng-change="pageChanged()"></pagination>
    </div>
    <div ng-switch-when="details">
        <fieldset>
            <legend>Billing</legend>
            <div class="display-label">
                顧客姓名</div>
            <div class="display-field">
                <span ng-bind="BillingDetail.ID"></span>
            </div>
            <div class="display-label">
                職業</div>
            <div class="display-field">
                <span ng-bind="BillingDetail.JobTypeText()"></span>
            </div>
            <div class="display-label">
                消費日期</div>
            <div class="display-field">
                <span ng-bind="BillingDetail.Date| date:'yyyy-MM-dd'"></span>
            </div>            
            <div class="display-label">
                消費小時數</div>
            <div class="display-field">
                <span ng-bind="BillingDetail.Hours"></span>
            </div>
            <div class="display-label">
                備註</div>
            <div class="display-field">
                <span ng-bind="BillingDetail.Description"></span>
            </div>
        </fieldset>
        <br />
        <a href="#" ng-click="showList()">返回列表</a>
    </div>
    <div ng-switch-when="edit">
        <fieldset>
            <legend>Billing</legend>
            <div class="editor-label">
                顧客姓名
            </div>
            <div class="editor-field">
                <input type="hidden" ng-model="BillingDetail.ID" />
                <input type="text" ng-model="BillingDetail.Customer" ng-bind="BillingDetail.Customer">
            </div>
            <div class="editor-label">
                職業
            </div>
            <div class="editor-field">
                <!-- 當ng-model 的型態 需與 要綁定的資料型態一致，以這裡來說 若Job.id型態為int 則 BillingDetail.JobType 型態也必須為int ，否則無法綁定-->
                <select ng-model="BillingDetail.JobType" ng-options="Job.id as Job.name for Job in JobTypes">
                </select>
            </div>
            <div class="editor-label">
                消費日期
            </div>
            <div class="editor-field">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="BillingDetail.Date" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-click="open($event)"/>                
            </div>           
            <div class="editor-label">
                消費小時數
            </div>
            <div class="editor-field">
                <input type="number" ng-model="BillingDetail.Hours">
            </div>
             <div class="editor-label">
                備註
            </div>
            <div class="editor-field">
                <input type="text" ng-model="BillingDetail.Description">
            </div>
            <div>
                <button class="btn" ng-click="edit(BillingDetail)">
                    儲存</button>
            </div>
        </fieldset>
        <br />
        <a href="#" ng-click="showList()">返回列表</a>
    </div>
</div>
